services:
  server_c:
    image: z53_server_c_image
    build: ./server_c
    container_name: z53_udp_server_c
    networks:
      - psi_network
    tty: true
    cap_add:
      - NET_ADMIN

  client_py:
    image: z53_client_py_image
    build: ./client_py
    container_name: z53_udp_client_py
    networks:
      - psi_network
    tty: true
    cap_add:
      - NET_ADMIN
    depends_on:
      - server_c

  server_py:
    image: z53_server_py_image
    build: ./server_py
    container_name: z53_udp_server_py
    networks:
      - psi_network
    tty: true
    cap_add:
      - NET_ADMIN

  client_c:
    image: z53_client_c_image
    build: ./client_c
    container_name: z53_udp_client_c
    networks:
      - psi_network
    tty: true
    cap_add:
      - NET_ADMIN
    depends_on:
      - server_py

networks:
  psi_network:
    external: true
    name: z53_network
